<header>
    <nav>
      <ul>
        <h1>Bem-vindo ao Nosso Restaurante!</h1>
        <li><a href="/">INÍCIO</a></li>
        <li><a href="/cardapio">CARDÁPIO</a></li>
        <li><a href="/reserva/new">RESERVAS</a></li>
        <li><a href="/fale/new">FALE_CONOSCO</a></li>
      </ul>
    </nav>
  </header>