<div id="basico" class="card">
   <h1>Restaurante Mesa de Ouro </h1>
   <h2>Desde 1897 servindo com tradição e carinho</h2>

   <p>Oferecemos:</p>
   <ul>
      <li>Sobremesas</li>
      <li>Lanches</li>
      <li>Café da manhã</li>
      <li>Outras delícias da casa</li>
   </ul>
</div>
